<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../bootstrap.php" colors="true">
    
    <testsuite name="Battle">
        <directory>./library</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Battle</directory>
        </whitelist>
    </filter>
        
</phpunit>
